* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  background-image: url(./images/puntitos.svg);
}

@media (min-width: 769px) {
  .container {
    height: 616px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.nav {
  display: none;
}

@media (min-width: 769px) {
  .nav {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    width: 428px;
    height: 28px;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
    color: #141414;
  }
}

.header {
  padding: 18px 17px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 769px) {
  .header {
    padding: 36px 103px 0 80px;
  }
}

.logo {
  width: 54px;
  height: 50px;
}

.burger {
  width: 36px;
  height: 32px;
}

@media (min-width: 769px) {
  .burger {
    display: none;
  }
  .intro {
    padding: 0 84px 0 80px;
  }
  .intro-container {
    display: flex;
    justify-content: space-between;
    height: 395px;
  }
}

.title-intro-container {
  padding: 0 42px;
}

.title-intro {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 48px;
}

@media (min-width: 769px) {
  .title-intro-container {
    padding: 0;
    width: 313px;
    height: 96px;
    margin-top: 39px;
  }
  .title-intro {
    text-align: left;
  }
}

.img-intro-container {
  display: flex;
  justify-content: center;
}

.img-intro {
  width: 318px;
  height: 300px;
}

@media (min-width: 769px) {
  .img-intro-container {
    width: 435px;
    height: 395px;
  }
  .img-intro {
    width: 100%;
    height: 100%;
  }
}

.about {
  background-color: #141414;
  color: white;
  width: 100%;
  height: 538px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 769px) {
  .about {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .about-container {
    /*  margin-left: 90px; */
  }
}

.title-about {
  margin: 55px auto 0 auto;
  font-size: 32px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 769px) {
  .title-about {
    margin: 0;
  }
}

.txt-about {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18, 75px;
  width: 312px;
  height: 193px;
  margin: 41px auto 0 auto;
}

@media (min-width: 769px) {
  .txt-about {
    margin-top: 0;
    box-sizing: border-box;
    width: 532px;
    height: 165px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
  }
}

.vector-check {
  width: 80px;
  height: 80px;
  margin: 57px auto 68px auto;
}

@media (min-width: 769px) {
  .vector-check {
    width: 211px;
    height: 211px;
    margin: 0 90px 0 0;
  }
}

.services {
  height: 1375px;
  background-color: #fafafa;
  padding-top: 69px;
}

@media (min-width: 769px) {
  .services {
    height: 604px;
    padding-top: 59px;
  }
}

.title-services {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0 auto 43px auto;
  font-size: 32px;
  width: 271px;
  height: 55px;
}

@media (min-width: 769px) {
  .title-services {
    font-size: 48px;
    width: 403px;
    height: 56px;
    margin: 0 auto 71px auto;
  }
}

.services-container {
  height: 1129px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0;
}

@media (min-width: 769px) {
  .services-container {
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    margin: 0;
  }
}

.services-vector {
  width: 138px;
  height: 128px;
}

.sub-services {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 19px auto 0 auto;
}

.text-services {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 262px;
  height: 117px;
  margin: 15px auto 0 auto;
}

.form {
  background-color: #141414;
  height: 660px;
  color: white;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .form {
    flex-direction: row;
    padding: 116px 0 0 0;
    justify-content: center;
  }
}

.form-container {
  height: 428px;
  display: grid;
  gap: 20px;
  align-self: center;
}

@media (min-width: 769px) {
  .form-container {
    align-self: flex-start;
  }
}

.title-escribime {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  text-align: center;
  width: 271px;
  height: 55px;
  margin: 69px auto 36px auto;
}

@media (min-width: 769px) {
  .title-escribime {
    font-size: 48px;
    margin: 0;
    align-self: flex-start;
    text-align: end;
    margin-right: 70px;
  }
}

.lbl {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  display: block;
}

.input {
  height: 45px;
  border: none;
  width: 335px;
  margin-top: 9px;
}

.message-txt {
  width: 335px;
  height: 113px;
  margin-top: 9px;
}

.button-enviar {
  background-color: #ffd953;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  width: 335px;
  height: 45px;
  margin-top: 40px;
}

.footer {
  width: 100%;
  height: 493px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-left: 16px;
  background-color: #dbdbdb;
  display: flex;
  align-items: center;
}

@media (min-width: 769px) {
  .footer {
    background-image: url(./images/puntitos-2.svg);
    padding: 95px 215px 95px 80px;
  }
}

.footer-container {
  display: grid;
  gap: 85px;
}

@media (min-width: 769px) {
  .footer-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.logo-footer {
  width: 77px;
  height: 71px;
}

.social-media {
  display: grid;
  gap: 20px;
}

@media (min-width: 769px) {
  .social-media {
  }
}

.redes-container {
  display: flex;
}

.redes {
  display: inline;
  margin-left: 5px;
  font-weight: 16px;
}

.copy {
  margin: 15px auto 0 auto;
  font-weight: 13px;
}
